@import "../../config";


#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $font-size 2*$font-size;
    font-size: $font-size;

    h1{
        font-size: 1.5 * $font-size;
    }

    h2 {
        align-self: flex-start;
        font-size: 1.25 * $font-size;
    }

    &>div {
        margin: $font-size 0;
    }

    #first_part{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px 1fr;

        #paragraph {
            justify-self: center;
            align-self: center;
            width: 80%;
        }

        #grid1{
            align-self: flex-end;
            justify-self: center;
        }

        #grid2 {
            grid-row: 1/-1;
            grid-column: 2;
            align-self: center;
            justify-self: center;
        }
    }

    #second_part {
        display: flex;
        flex-direction: row;
    }
}

.image_container{
    position: relative;
    width: max-content;
    height: max-content;

    img {
        display: block;
        position: relative;
        height: 450px;
        z-index: -1;
    }

    #narrow_image{
        height: 700px;
    }

    .blur_border {
        display: inline-block;
        z-index:1;
        box-shadow: inset 0 0 10px 15px $primary-color,
                    inset 1px 1px 0 0 $primary-color,
                    inset 2px 2px 0 0 $primary-color,
                    inset 3px 3px 0 0 $primary-color,;
    }
}