@import "../config";
@import "../responsive";


#container {
    width: 100vw;
    font-size: $font-size;
    padding: $font-size 0;
    font-weight: lighter;
    font-style: italic;
    color: $primary-color;
    background-color: $primary-font-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    

    div {
        width: 40%;
    }

    p {
        margin:0;
    }
}

@include sided{
    $font-size: 20px;

    #container{
        font-size: $font-size;
        padding: $font-size 0;
    }
}
@include tablet{
    $font-size: 18px;

    #container{
        font-size: $font-size;
        padding: $font-size 0;

        :nth-child(2){
            display: none;
        }

        div{
            width: 70%;
        }
    }
}
@include phone{
    $font-size: 16px;

    #container{
        font-size: $font-size;
        padding: $font-size 0;

        :nth-child(2){
            display: none;
        }

        div{
            width: 70%;
        }
    }
}

