@import "../components/responsive";
@import "../components/config";

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  background-color: $primary-color;
}

*::-webkit-scrollbar {
  width: 0;
}

* {
  font-family: "Merriweather";
}

p, div {
  cursor: default;
}

.main {
  height: 100vh;
  perspective: 2px;
  overflow-x: hidden;
}

.section {
  position: relative;

  &>div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    z-index: -2;
  }
}


@include phone{
  .section {
    display: none;
  }
}
@include tablet{
  .section {
    &>div{
      transform: translateZ(-1px) scale(2.2);
    }
  }
}
@include sided{
  .section {
    &>div{
      transform: translateZ(-1px) scale(2.2);
    }
  }
}

