@import "../config";


#container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: $slider-color;
    font-size: 1.25 * $font-size;
    font-weight: lighter;
    font-style: italic;
    color: $primary-font-color;
    box-shadow: inset 2px 2px 5px $primary-color;
    
    #description {
        margin: $font-size;
    }
}