@import "../config";
@import "../responsive";

#container {
  display: flex;
  flex-direction: column;
  place-items: center;
  font-size: $font-size;
  padding: $font-size 0;

  h1 {
    font-size: 1.5 * $font-size;
  }

  h2 {
    font-size: 1.25 * $font-size;
  }

  #packages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-shadow: -2px -2px $third-color;
    gap: $font-size;

    #silver {
      background: $package-color1;
    }

    #gold {
      background-color: $package-color2;
    }

    #diamond {
      background-color: $package-color3;
    }

    .wedding_package {
      flex: 1;
      width: 27%;
      min-width: 320px;
      margin: $font-size;
      min-height: 400px;
      max-width: 40%;
      display: grid;
      grid-template-rows: auto auto 1fr;
      padding: $font-size;
      border-radius: 5px;
      box-shadow: 5px 5px 10px $third-color;
      color: $primary-color;

      h2 {
        justify-self: center;
      }

      ul {
        align-self: flex-start;
        padding-inline-start: 0;
        li {
          margin: $font-size 0;
          list-style: none;

          a {
            color: $primary-color;
          }
        }
      }

      .price {
        align-self: flex-end;
        justify-self: center;
        font-weight: bold;
        font-size: 1.5 * $font-size;
      }
    }
  }

  .plus_info {
    margin-top: 16px;
    p {
      font-size: $font-size;
    }
  }
}

@include sided {
  $font-size: 20px;

  #container {
    font-size: $font-size;
    padding: $font-size 0;

    h1 {
      font-size: 1.5 * $font-size;
    }

    h2 {
      font-size: 1.25 * $font-size;
    }

    #packages {
      gap: $font-size;

      .wedding_package {
        margin: $font-size;
        padding: $font-size;
        max-width: 60%;
        ul {
          li {
            margin: $font-size 0;
          }
        }

        .price {
          font-size: 1.5 * $font-size;
        }
      }
    }
  }
}
@include tablet {
  $font-size: 18px;

  #container {
    font-size: $font-size;
    padding: $font-size 0;

    h1 {
      font-size: 1.5 * $font-size;
    }

    h2 {
      font-size: 1.25 * $font-size;
    }

    #packages {
      gap: $font-size;

      .wedding_package {
        margin: $font-size;
        padding: $font-size;
        max-width: 60%;
        ul {
          li {
            margin: $font-size 0;
          }
        }

        .price {
          font-size: 1.5 * $font-size;
        }
      }
    }
  }
}
@include phone {
  $font-size: 16px;

  #container {
    font-size: $font-size;
    padding: $font-size 0;

    h1 {
      font-size: 1.5 * $font-size;
    }

    h2 {
      font-size: 1.25 * $font-size;
    }

    #packages {
      gap: $font-size;

      .wedding_package {
        min-width: 280px;
        margin: $font-size;
        padding: $font-size;
        max-width: 60%;
        ul {
          li {
            margin: $font-size 0;
          }
        }

        .price {
          font-size: 1.5 * $font-size;
        }
      }
    }
  }
}
