@import "../config";

$font-size: 24px;

#container{
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: $font-size;
    padding: $font-size 0;

    h1{
        font-size: 1.5 * $font-size;
    }

    h2{
        font-size: 1.25 * $font-size;
    }

    #packages{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-shadow: -2px -2px $third-color;
        gap: $font-size;

        #silver{
            background: $package-color1;
        }

        #gold{
            background-color: $package-color2;
        }

        #diamond{
            background-color: $package-color3;
        }

        .package{
            flex: 1;
            width: 27vw;
            height: 1000px;
            display: grid;
            grid-template-rows: auto auto 1fr;
            padding: $font-size;
            border-radius: 5px;
            box-shadow: 5px 5px 10px $third-color;
            color: $primary-color;
        
            h2{
                justify-self: center;
            }

            ul {
                align-self: flex-start;

                li{
                    margin: $font-size 0;
                    list-style: none;
                }
            }

            .price {
                align-self: flex-end;
                justify-self: center;
                font-weight: bold;
                font-size: 1.5 * $font-size;
            }
        }
    }
}