@import "../config";

$font-size:24px;

#container {
    display: flex;
    flex-direction: column;
    font-size: $font-size;

    h1 {
        font-size: 2 * $font-size;
    }

    h2{
        text-align: center;
        font-size: 1.5 * $font-size;
    }

    .description {
        width: 420px;
        padding-left: 0.5 * $font-size;

        div {
            margin: $font-size 0;
        }
    }

    #wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #middle_image_wrapper{
        position: relative;
        display: grid;
        flex-direction: row;
        justify-content: center;
        align-content: flex-end;
    }

    .package {
        display: grid;
        grid-template-rows: auto auto 1fr;

        .price {
            align-self: flex-end;
            justify-self: center;
            margin-left: $font-size;
            margin-bottom: $font-size;
            font-size: 1.5*$font-size;
            font-weight: bold;
        }
    }
    
}

.package {
    background-color: $secondary-color;
    height: 750px;
    padding: 0 $font-size;
    border-radius: 5px;
    box-shadow: 5px 5px 10px $third-color;
    color: $primary-color;
    text-shadow: -2px -2px $third-color;
}

#studio {
    text-align: center;
    margin: $font-size 0;
}