@import "../config";

#container {
    width: 100vw;
    height: 410px;
    box-shadow: 0 20px 30px $slider-color, 0 -20px 30px $slider-color;
    background-color: $slider-color;
    margin: 20px 0;
    display: flex;
    place-items: center;

    #images_container {
        width: 90vw;
        display: flex;
        flex-direction: row;
        place-items: center;
        overflow-x: hidden;

        .image_wrapper{
            min-width: 30vw;
            height: 350px;
            transition: transform 0.5s;
            text-align: center;
        }

        img{
            height: inherit;  
        }
    }
}