$header-color: #fbf9d9;

$primary-color: #ffffd6;
$secondary-color: #caaf88;

$package-color3: $secondary-color;
$package-color2: #e0be8f;
$package-color1: #e6c69a;


$primary-font-color:#caaf88;
$secondary-font-color: #666666;

$third-color: #999999;
$border-color: #FFFF98;
$slider-color: #FBF6BF;