@import "config";

$font-size: 24px;

#description {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;

    h1 {
        margin-top: 0;
        margin-bottom: 2 * $font-size;
        align-self: center;
        font-size: 2 * $font-size;
    }

    div{
        margin: $font-size 40px;
        font-size: $font-size;
    }

      
}

#in_image_description_1, #in_image_description_2 {
    position: absolute;
    
    font-size: $font-size;
    margin-top: 160px;

    .strong {
        font-weight: bold;
        padding-left: 36px;
        border-left: 6px solid #ffd488;
        border-radius: 5px;
    }
}

#in_image_description_1 {
    left: 40px;
    max-width: 600px;
}

#in_image_description_2 {
    right: 80px;
    max-width: 640px;

}

#end_description {
    background-color: $primary-color;
    margin-top: -10px;
    padding-bottom: 0.5 * $font-size;
    font-size: $font-size;
    display: grid;
    place-items: center;
}

#container {
    color: $primary-font-color;

    img{
        width: 100vw;
    }
}
