@import "config";


footer {
    height: 240px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: $secondary-color;
    border-top: 2px solid $primary-color;
}

#icons {
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: 45px;
    margin-right: 20px;

    #icon {
        margin: 0 2.5px;
    }
}

#icon {
    width: 33px;
}

#placeholder {
    flex: 1;
}

#contacts {
    color: $secondary-font-color;
    margin-left: 20px;
    align-self: center;
    h1{
        margin-top:0;
        font-size: 1.5 * $font-size;
    }

    &>div {
        margin-top: 10px;
    }

    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 50px;

        div{
            margin-left: 5px;
        }
    }

}