@import 'config';

$font-size: 24px;

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 85px;
    width: 100vw;
    background-color: $header-color;
    position: fixed;
    z-index: 1000;
    transition: opacity 0.5s;
    font-size: $font-size;
    color: $primary-font-color;
    font-weight: bold;

    a:hover {
        color: $secondary-font-color;
    }
}

a {
    text-decoration: none;
    color: $primary-font-color;
}

.image {
    height: 85px;
    margin-left: 20px;

    img{
        height: inherit;
    }
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 50px;
    background-color: $header-color;
}

#placeholder {
    width: 85px;
}

#dropdown {
    cursor: default;

    p {
        margin: 25px 0;
    }

    #dropdownMenu {
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: $header-color;
        top: 85px;
        padding: 10px 20px;
        z-index: -1;
        transform: translateY(-100%);
        transition: transform 0.5s;
        cursor: pointer;
        a {
            margin: $font-size * 0.25 0;
        }
    
        &.open{
            transform: translateY(0);
            box-shadow: 2px 2px 5px #000000;
            border-radius: 2px;
        }
    }
}


