@import "../../config";


#container {
    width: 100vw;
    background-color: $primary-color;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}
#placeholder_image {
    width: 100vw;
    height: 100px;
    overflow: hidden;
}

#quote{
    width: 100%;
    font-size: 1.25 * $font-size;
    font-weight: bold;
    color: $primary-font-color;
    background-color: $primary-color;
    text-align: center;
    margin: 0;
    padding: $font-size 0;
}
