@import "../../config";

$font-size: 24px;

.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  color: $primary-font-color;
  font-style: italic;
  padding: 100px 0;
  overflow: hidden;


  #image_container {
    width: 70vw;
    overflow: hidden;
    z-index: 1;
  }
  img {
    display: block;
    margin: auto;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80vw;
    animation: scale 13s linear running infinite;
  }

  #caption {
    place-self: center center;
    margin-bottom: 20px;
    font-size: $font-size;
  }
}

.container_wrapper {
  min-width: 100vw;
  height: 120vh;
  transition: transform 1s;
  overflow: hidden;

  #background_image{
    position: absolute;
    width: 100vw;
    filter: blur(20px);
    z-index: -1;
  }
}


@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
